{% extends 'base.html' %}
{% load static %}

{% block content %}
<div style="text-align:center; margin-top:50px;">
  <!-- Logo -->
  <img src="{% static 'images/logo.png' %}" alt="Logo DK" width="100" height="100">

  <h1>Witaj w sklepie DK!</h1>

  <!-- Navigacja -->
  <nav style="margin-top:20px;">
    <a href="{% url 'products:product_list' %}">Produkty</a> |
    <a href="{% url 'cart:cart_detail' %}">Koszyk</a> |
    <a href="{% url 'payment:payment_process' %}">Proceed to Payment</a>
  </nav>
</div>
{% endblock %}
